<a href="https://colab.research.google.com/github/kalyanSadhukhan/PythonBasic/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
data= [115, 21, 29, 21, 15, 24, 32, 21, 15, 301]
mean= np.mean (data)
med= np.median (data)
mode= pd.Series (data).mode() [0]
var= np.var(data)
std= np.std(data)
print("Mean:", mean, "\nMedian:", med, "\nMode:", mode, "\nVarience:", var, "\nStandard deviation:", std)

Mean: 59.4
Median: 22.5
Mode: 21
Varience: 7275.639999999999
Standard deviation: 85.29736221009416

In [10]:
import pandas as pd
import numpy as np
df_robot = pd.read_csv("robot_dataset(robot_dataset)_1(in).csv")
avg_interactions= df_robot["Interaction_Count"].mean()
steps_total= df_robot["Steps_Walked"].sum()
energy_max= df_robot ["Energy_Consumption (kWh)"].max()
energy_min= df_robot ["Energy_Consumption (kWh)"].min()
steps_energy_corr = df_robot["Steps_Walked"].corr(df_robot["Energy_Consumption (kWh)"])
learning_var= df_robot["Learning_Sessions"].var()
print(f"The average (mean) number of conversations the robot has daily is {avg_interactions}")
print(f"The total number of steps walked by the robot over the given period is {steps_total}")
print(f"The highest energy consumption recorded in the dataset is {energy_max}")
print(f"The lowest energy consumption recorded in the dataset is {energy_min}")
print(f"Correlation between steps walked and energy consumption: {steps_energy_corr}")
print(f"The variance in the number of learning sessions completed is {learning_var}")

The average (mean) number of conversations the robot has daily is 5.51
The total number of steps walked by the robot over the given period is 14379
The highest energy consumption recorded in the dataset is 3.0
The lowest energy consumption recorded in the dataset is 1.0
Correlation between steps walked and energy consumption: 0.0015478137393313933
The variance in the number of learning sessions completed is 391.9422845691385

In [23]:
person_name = "Ryan"
person_age = 7
person_height = 14.8
is_online = False
print(f"Name: {person_name}, Age: {person_age}, Height: {person_height}, Online: {is_online}")

Name: Ryan, Age: 7, Height: 14.8, Online: False

In [24]:
num = int(input("Enter an integer: "))
if num > 0:
  print(f"{num} is positive.")
elif num < 0:
  print(f"{num} is negative.")
else:
  print(f"{num} is zero.")

Enter an integer: 23
23 is positive.

In [22]:
num=int(input("Enter a number:  "))
for i in range (1,11):
  print(f"{num}×{i} = {num*i}")

Enter a number:  17
17×1 = 17
17×2 = 34
17×3 = 51
17×4 = 68
17×5 = 85
17×6 = 102
17×7 = 119
17×8 = 136
17×9 = 153
17×10 = 170

In [1]:
fruit_list = ["Mango", "Peach", "Grapes", "Apple", "Pineapple"]
# 1. Accessing the first fruit
print("First fruit:", fruit_list[0])
# 2. Appending a new fruit to the list
fruit_list.append("Strawberry")
print("List after appending a fruit:", fruit_list)
# 3. Removing a fruit from the list
fruit_list.remove("Peach")
print("List after removing Peach:", fruit_list)
# 4. Sorting the list in alphabetical order
fruit_list.sort()
print("List after sorting alphabetically:", fruit_list)
# 5. Length of the list
print("Length of the list:", len(fruit_list))

First fruit: Mango
List after appending a fruit: ['Mango', 'Peach', 'Grapes', 'Apple', 'Pineapple', 'Strawberry']
List after removing Peach: ['Mango', 'Grapes', 'Apple', 'Pineapple', 'Strawberry']
List after sorting alphabetically: ['Apple', 'Grapes', 'Mango', 'Pineapple', 'Strawberry']
Length of the list: 5

In [2]:
# Creating a tuple with 5 numbers
data_tuple = (12, 24, 36, 48, 60)
# 1. Accessing an element in the tuple
print("First number:", data_tuple[0])
# 2. Slicing the tuple (getting the first 3 numbers)
print("First three numbers:", data_tuple[:3])
# 3. Getting the length of the tuple
print("Length of the tuple:", len(data_tuple))
# 4. Counting the occurrences of a number in the tuple
count_of_24 = data_tuple.count(24)
print("Count of 24 in the tuple:", count_of_24)
# 5. Finding the index of a number in the tuple
index_of_48 = data_tuple.index(48)
print("Index of 48 in the tuple:", index_of_48)
# 6. Converting the tuple to a list
data_list = list(data_tuple)
print("Tuple converted to list:", data_list)

First number: 12
First three numbers: (12, 24, 36)
Length of the tuple: 5
Count of 24 in the tuple: 1
Index of 48 in the tuple: 3
Tuple converted to list: [12, 24, 36, 48, 60]

In [4]:
grades_dict = {"Ethan": 88, "Sophia": 93, "Liam": 80}
# 1. Accessing the marks of a specific student
print("Marks of Ethan:", grades_dict["Ethan"])
# 2. Adding a new student and their marks to the dictionary
grades_dict["Olivia"] = 96
print("Dictionary after adding a new student:", grades_dict)
# 3. Updating the marks of an existing student
grades_dict["Sophia"] = 98
print("Dictionary after updating Sophia's marks:", grades_dict)
# 4. Removing a student from the dictionary
del grades_dict["Liam"]
print("Dictionary after removing Liam:", grades_dict)
# 5. Getting the total number of students
print("Total number of students:", len(grades_dict))
# 6. Iterating over the dictionary to print all students and their marks
for student, marks in grades_dict.items():
    print(f"{student}: {marks}")

Marks of Ethan: 88
Dictionary after adding a new student: {'Ethan': 88, 'Sophia': 93, 'Liam': 80, 'Olivia': 96}
Dictionary after updating Sophia's marks: {'Ethan': 88, 'Sophia': 98, 'Liam': 80, 'Olivia': 96}
Dictionary after removing Liam: {'Ethan': 88, 'Sophia': 98, 'Olivia': 96}
Total number of students: 3
Ethan: 88
Sophia: 98
Olivia: 96

In [5]:
# Creating two sets of integers
groupA = {10, 20, 30, 40, 50}
groupB = {40, 50, 60, 70, 80}
# 1. Union of the sets (all elements from both sets)
union_set = groupA | groupB
print("Union of groupA and groupB:", union_set)
# 2. Intersection of the sets (common elements between both sets)
intersection_set = groupA & groupB
print("Intersection of groupA and groupB:", intersection_set)
# 3. Difference of the sets (elements in groupA but not in groupB)
difference_set = groupA - groupB
print("Difference of groupA and groupB:", difference_set)

Union of groupA and groupB: {70, 40, 10, 80, 50, 20, 60, 30}
Intersection of groupA and groupB: {40, 50}
Difference of groupA and groupB: {10, 20, 30}

In [12]:
def get_maximum(values):
    if not values:
        return None
    return max(values)

nums = list(map(int, input("Enter numbers separated by spaces: ").split()))
max_num = get_maximum(nums)
print("The maximum number is:", max_num)

Enter numbers separated by spaces: 22 34 65 98 72 31 85
The maximum number is: 98

In [13]:
squared_evens = [num**2 for num in range(2, 22) if num % 2 == 0]
print(squared_evens)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [14]:
multiply = lambda a, b: a * b
p, q = map(int, input("Enter two numbers: ").split())
print(f"Multiplication Result: {multiply(p, q)}")

Enter two numbers: 6 5
Multiplication Result: 30

In [15]:
import numpy as np
# 1D Array
array_1d = np.array([4, 8, 15, 16, 23, 42])
print("One-dimensional array:\n", array_1d)
print("Shape:", array_1d.shape)
print("Number of dimensions:", array_1d.ndim)
# 2D Array
array_2d = np.array([[1, 3, 5], [7, 9, 11]])
print("\nTwo-dimensional array:\n", array_2d)
print("Shape:", array_2d.shape)
print("Number of dimensions:", array_2d.ndim)
# 3D Array
array_3d = np.array([[[2, 4], [6, 8]], [[10, 12], [14, 16]]])
print("\nThree-dimensional array:\n", array_3d)
print("Shape:", array_3d.shape)
print("Number of dimensions:", array_3d.ndim)

One-dimensional array:
 [ 4  8 15 16 23 42]
Shape: (6,)
Number of dimensions: 1

Two-dimensional array:
 [[ 1  3  5]
 [ 7  9 11]]
Shape: (2, 3)
Number of dimensions: 2

Three-dimensional array:
 [[[ 2  4]
  [ 6  8]]

 [[10 12]
  [14 16]]]
Shape: (2, 2, 2)
Number of dimensions: 3

In [16]:
import numpy as np
# Creating a 5x5 array of random integers between 1 and 100
random_matrix = np.random.randint(1, 100, (5, 5))
print("Random 5x5 Matrix:\n", random_matrix)
# Accessing specific elements and subarrays
element = random_matrix[1, 2]
print("\nElement at row 2, column 3:", element)
second_row = random_matrix[1, :]
print("Second row:", second_row)
third_column = random_matrix[:, 2]
print("Third column:", third_column)
subarray = random_matrix[0:2, 1:3]
print("Subarray (rows 1 and 2, columns 2 and 3):\n", subarray)

Random 5x5 Matrix:
 [[67 49 51 98 84]
 [ 4 33 44 71 47]
 [59 77  9 43 88]
 [77 23 88 60 54]
 [27 41 36  8 20]]

Element at row 2, column 3: 44
Second row: [ 4 33 44 71 47]
Third column: [51 44  9 88 36]
Subarray (rows 1 and 2, columns 2 and 3):
 [[49 51]
 [33 44]]

In [17]:
import numpy as np
# Creating a 4x4 array with numbers from 1 to 16
array_4x4 = np.arange(1, 17).reshape(4, 4)
print("Original 4x4 Array:\n", array_4x4)
# Slicing the first 2 rows and first 2 columns
sliced_part = array_4x4[:2, :2]
print("\nSliced Array (first 2 rows and first 2 columns):\n", sliced_part)

Original 4x4 Array:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

Sliced Array (first 2 rows and first 2 columns):
 [[1 2]
 [5 6]]

In [18]:
import numpy as np
# Creating a 2D array of shape (6,2) with numbers from 1 to 12
array_2d = np.arange(1, 13).reshape(6, 2)
print("Original 2D Array (6x2):\n", array_2d)
# Reshaping to a 3D array of shape (2, 3, 2)
array_3d = array_2d.reshape(2, 3, 2)
print("\nReshaped 3D Array (2x3x2):\n", array_3d)
# Flattening the array
flattened_array = array_3d.flatten()
print("\nFlattened Array:\n", flattened_array)

Original 2D Array (6x2):
 [[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]

Reshaped 3D Array (2x3x2):
 [[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

Flattened Array:
 [ 1  2  3  4  5  6  7  8  9 10 11 12]

In [19]:
import numpy as np
# Creating a 3x3 array
array_3x3 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print("Original 3x3 Array:\n", array_3x3)
# Creating a 1x3 array
array_1d = np.array([[10, 20, 30]])
print("\n1D Array to be added:\n", array_1d)
# Broadcasting operation
broadcasted_result = array_3x3 + array_1d
print("\nResult after broadcasting:\n", broadcasted_result)

Original 3x3 Array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

1D Array to be added:
 [[10 20 30]]

Result after broadcasting:
 [[11 22 33]
 [14 25 36]
 [17 28 39]]

In [20]:
import numpy as np
# Creating two 2x3 arrays
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[7, 8, 9], [10, 11, 12]])
print("Array A:\n", A)
print("\nArray B:\n", B)
# Element-wise Addition
add_result = A + B
print("\nElement-wise Addition:\n", add_result)
# Element-wise Subtraction
sub_result = A - B
print("\nElement-wise Subtraction:\n", sub_result)
# Element-wise Multiplication
mul_result = A * B
print("\nElement-wise Multiplication:\n", mul_result)
# Element-wise Division
div_result = A / B
print("\nElement-wise Division:\n", div_result)

Array A:
 [[1 2 3]
 [4 5 6]]

Array B:
 [[ 7  8  9]
 [10 11 12]]

Element-wise Addition:
 [[ 8 10 12]
 [14 16 18]]

Element-wise Subtraction:
 [[-6 -6 -6]
 [-6 -6 -6]]

Element-wise Multiplication:
 [[ 7 16 27]
 [40 55 72]]

Element-wise Division:
 [[0.14285714 0.25       0.33333333]
 [0.4        0.45454545 0.5       ]]

In [21]:
import pandas as pd
# Creating the DataFrame with student names and marks
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Math': [85, 92, 78],
    'Science': [88, 94, 82],
    'English': [90, 89, 75]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
# Adding 'Total' column
df['Total'] = df['Math'] + df['Science'] + df['English']
# Function to assign grades based on Total
def assign_grade(total):
    if total >= 270:
        return 'A'
    elif total >= 240:
        return 'B'
    elif total >= 210:
        return 'C'
    else:
        return 'D'
# Adding 'Grade' column
df['Grade'] = df['Total'].apply(assign_grade)
print("\nUpdated DataFrame with 'Total' and 'Grade':\n", df)

Original DataFrame:
     Name  Math  Science  English
0   John    85       88       90
1  Alice    92       94       89
2    Bob    78       82       75

Updated DataFrame with 'Total' and 'Grade':
     Name  Math  Science  English  Total Grade
0   John    85       88       90    263     B
1  Alice    92       94       89    275     A
2    Bob    78       82       75    235     C